<header>
  <div class="layout-topbar">
    <div class="layout-topbar-content">
      <span class="topbar-logo">
        <b>Spin</b>Test
      </span>
      <a href="#" id="menu-btn" class="menu-btn" (click)="template.onMobileMenuButton($event)">
        <i class="fa fa-bars"></i>
      </a>
      <!--<img src="assets/layout/images/logo.png" class="topbar-logo">-->

      <!--<a [routerLink]="['/documentation']" class="topbar-link" (click)="template.hideMobileMenu($event)">Get Started</a>-->
      <!--<p-breadcrumb styleClass="topbar-breadcrump" [model]="breadcrumbService.items" [home]="home"></p-breadcrumb>-->
      <span class="topbar-usuario">
        <button type="button" pButton icon="pi pi-user" [label]="keycloakService.getUsername()" (click)="menu.toggle($event)"></button>
        <p-menu #menu [popup]="true" [model]="itens"></p-menu>
      </span>

    </div>

  </div>

</header>