<!-- FORM FORNECEDOR -->
<form name="formFornecedor" [formGroup]="formFornecedor" (ngSubmit)="salvar();voltar($event)" class="layout-form-page">
  <app-form (voltar)="voltar($event)" [title]="formFornecedor.value.descricao" [form]="formFornecedor">

    <div class="ui-fluid ui-g"> 

      <div class="ui-g-12 ui-md-12">
        <div class="u-inputgroup ">
          <label for="descricao">Descrição:</label>
          <div class="u-inputgroup input-group ">
            <input id="descricao" type="text" placeholder="Descrição" pInputText formControlName="descricao">
            <app-error-msg [control]="formFornecedor.get('descricao')" label="Descrição"></app-error-msg>
          </div>
        </div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div class="u-inputgroup ">
          <label for="cep">Telefone Fixo:</label>
          <div class="u-inputgroup input-group  ">
            <p-inputMask mask="(99) 9999-9999" type="text" placeholder="Telefone Fixo" formControlName="telFixo">
            </p-inputMask>
            <app-error-msg [control]="formFornecedor.get('telFixo')" label="Telefone Fixo"></app-error-msg>
          </div>
        </div>
      </div>

      <div class="ui-g-12 ui-md-6">
        <div class="u-inputgroup ">
          <label for="cep">Celular:</label>
          <div class="u-inputgroup input-group  ">
            <p-inputMask mask="(99) 99999-9999" type="text" placeholder="Celular" formControlName="telCel">
            </p-inputMask>
            <app-error-msg [control]="formFornecedor.get('telCel')" label="Celular"></app-error-msg>
          </div>
        </div>
      </div>

      <div class="ui-g-12 ui-md-4">
        <div class="u-inputgroup ">
          <label for="cep">CEP:</label>
          <div class="u-inputgroup input-group  ">
            <p-inputMask mask="99999-999" type="text" placeholder="CEP" formControlName="cep">
            </p-inputMask>
            <app-error-msg [control]="formFornecedor.get('cep')" label="CEP"></app-error-msg>
          </div>
        </div>
      </div>

      <div class="ui-g-12 ui-md-8">
        <div class="u-inputgroup ">
          <label for="cidadeId">Cidade:</label>
          <div class="u-inputgroup input-group  ">
            <p-autoComplete forceSelection="true" formControlName="cidadeId" field="nome"
              [suggestions]="cidadesAutoComple" placeholder="Cidade" (completeMethod)="localizarCidades($event)">
            </p-autoComplete>
            <app-error-msg [control]="formFornecedor.get('cidadeId')" label="Cidade"></app-error-msg>
          </div>
        </div>
      </div>

      <div class="ui-g-12 ui-md-12">
        <div class="u-inputgroup ">
          <label for="endereco">Endereço:</label>
          <div class="u-inputgroup input-group  ">
            <input id="endereco" type="text" placeholder="Endereço" pInputText formControlName="endereco">
            <app-error-msg [control]="formFornecedor.get('endereco')" label="Endereço"></app-error-msg>
          </div>
        </div>
      </div>

      <div class="ui-g-12 ui-md-12">
        <div class="u-inputgroup ">
          <label for="bairro">Bairro:</label>
          <div class="u-inputgroup input-group  ">
            <input id="bairro" type="text" placeholder="Bairro" pInputText formControlName="bairro">
            <app-error-msg [control]="formFornecedor.get('bairro')" label="Bairro"></app-error-msg>
          </div>
        </div>
      </div>

      <div class="ui-g-12 ui-md-8">
        <div class="u-inputgroup ">
          <label for="complemento">Complemento:</label>
          <div class="u-inputgroup input-group  ">
            <input id="complemento" type="text" placeholder="Complemento" pInputText formControlName="complemento">
            <app-error-msg [control]="formFornecedor.get('complemento')" label="Complemento"></app-error-msg>
          </div>
        </div>
      </div>


      <div class="ui-g-12 ui-md-4">
        <div class="u-inputgroup ">
          <label for="enderecoNumero">Número:</label>
          <div class="u-inputgroup input-group  ">
            <input id="enderecoNumero" type="number" placeholder="Número" pInputText formControlName="enderecoNumero">
            <app-error-msg [control]="formFornecedor.get('enderecoNumero')" label="N°"></app-error-msg>
          </div>
        </div>
      </div>

      <div class="ui-g-12 ui-md-12">
        <div class="u-inputgroup ">
          <label for="situacao">Situação:</label>
          <div class="u-inputgroup input-group">
            <p-inputSwitch name="situacao" binary="true" [formControl]="formFornecedor.controls['situacao']">
            </p-inputSwitch>
            <app-error-msg [control]="formFornecedor.get('situacao')" label="Situação"></app-error-msg>
          </div>
        </div>
      </div>

      </div>



  </app-form>
</form>