<!-- FORM FORNECEDOR -->
<form name="formFornecedor" [formGroup]="formFornecedor" (ngSubmit)="salvar();voltar($event)" class="layout-form-page">
  <app-form (voltar)="voltar($event)" [title]="formFornecedor.value.descricao" [form]="formFornecedor">

    <div class="ui-fluid">

      <div class="ui-g">
        <div class="ui-g-12 ui-md-6">

          <h4>Informações do fornecedor</h4>

          <div class="ui-g-12 ui-md-12">
            <div class="u-inputgroup ">
              <label for="descricao">Descrição:</label>
              <div class="u-inputgroup input-group ">
                <input id="descricao" type="text" placeholder="Descrição" pInputText formControlName="descricao">
                <app-error-msg [control]="formFornecedor.get('descricao')" label="Descrição"></app-error-msg>
              </div>
            </div>
          </div>

          <div class="ui-g-12 ui-md-6">
            <div class="u-inputgroup ">
              <label for="cep">Telefone Fixo:</label>
              <div class="u-inputgroup input-group  ">
                <p-inputMask mask="(99) 9999-9999" type="text" placeholder="Telefone Fixo" formControlName="telFixo">
                </p-inputMask>
                <app-error-msg [control]="formFornecedor.get('telFixo')" label="Telefone Fixo"></app-error-msg>
              </div>
            </div>
          </div>

          <div class="ui-g-12 ui-md-6">
            <div class="u-inputgroup ">
              <label for="cep">Celular:</label>
              <div class="u-inputgroup input-group  ">
                <p-inputMask mask="(99) 99999-9999" type="text" placeholder="Celular" formControlName="telCel">
                </p-inputMask>
                <app-error-msg [control]="formFornecedor.get('telCel')" label="Celular"></app-error-msg>
              </div>
            </div>
          </div>

          <div class="ui-g-12 ui-md-4">
            <div class="u-inputgroup ">
              <label for="cep">CEP:</label>
              <div class="u-inputgroup input-group  ">
                <p-inputMask mask="99999-999" type="text" placeholder="CEP" formControlName="cep">
                </p-inputMask>
                <app-error-msg [control]="formFornecedor.get('cep')" label="CEP"></app-error-msg>
              </div>
            </div>
          </div>

          <div class="ui-g-12 ui-md-8">
            <div class="u-inputgroup ">
              <label for="cidadeId">Cidade:</label>
              <div class="u-inputgroup input-group  ">
                <p-autoComplete formControlName="cidadeId" field="nome" [suggestions]="cidadesAutoComple"
                  placeholder="Cidade" (completeMethod)="localizarCidades($event)"></p-autoComplete>
                <app-error-msg [control]="formFornecedor.get('cidadeId')" label="Cidade"></app-error-msg>
              </div>
            </div>
          </div>

          <div class="ui-g-12 ui-md-12">
            <div class="u-inputgroup ">
              <label for="endereco">Endereço:</label>
              <div class="u-inputgroup input-group  ">
                <input id="endereco" type="text" placeholder="Endereço" pInputText formControlName="endereco">
                <app-error-msg [control]="formFornecedor.get('endereco')" label="Endereço"></app-error-msg>
              </div>
            </div>
          </div>

          <div class="ui-g-12 ui-md-12">
            <div class="u-inputgroup ">
              <label for="bairro">Bairro:</label>
              <div class="u-inputgroup input-group  ">
                <input id="bairro" type="text" placeholder="Bairro" pInputText formControlName="bairro">
                <app-error-msg [control]="formFornecedor.get('bairro')" label="Bairro"></app-error-msg>
              </div>
            </div>
          </div>

          <div class="ui-g-12 ui-md-8">
            <div class="u-inputgroup ">
              <label for="complemento">Complemento:</label>
              <div class="u-inputgroup input-group  ">
                <input id="complemento" type="text" placeholder="Complemento" pInputText formControlName="complemento">
                <app-error-msg [control]="formFornecedor.get('complemento')" label="Complemento"></app-error-msg>
              </div>
            </div>
          </div>


          <div class="ui-g-12 ui-md-4">
            <div class="u-inputgroup ">
              <label for="enderecoNumero">Número:</label>
              <div class="u-inputgroup input-group  ">
                <input id="enderecoNumero" type="number" placeholder="Número" pInputText
                  formControlName="enderecoNumero">
                <app-error-msg [control]="formFornecedor.get('enderecoNumero')" label="N°"></app-error-msg>
              </div>
            </div>
          </div>

          <div class="ui-g-12 ui-md-12">
            <div class="u-inputgroup ">
              <label for="situacao">Situação:</label>
              <div class="u-inputgroup input-group">
                <p-inputSwitch name="situacao" binary="true" [formControl]="formFornecedor.controls['situacao']">
                </p-inputSwitch>
                <app-error-msg [control]="formFornecedor.get('situacao')" label="Situação"></app-error-msg>
              </div>
            </div>
          </div>

        </div>

        <div class="ui-g-12 ui-md-6">

          <h4>Contatos</h4>

          <!-- CONTATOS FORNECEDOR TABLE -->
          <p-table [value]="contatos">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 10em">Cargo</th>
                <th style="text-align: left;">Nome</th>
                <th style="width: 8em">
                  <button (click)="showContatoDialog()" type="button" pButton class="ui-button-secondary"
                    icon="pi pi-plus"></button></th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-contato>
              <tr>
                <td>{{contato.cargo}}</td>
                <td (click)="selecionaContato($event,contato, overlayPanel)" style="cursor: pointer;">{{contato.nome}}
                </td>
                <td style="text-align: center;">
                  <button (click)="showContatoDialog(contato)" type="button" pButton icon="pi pi-pencil"
                    class="ui-button-secondary"></button>
                  <button (click)="deleteContato(contato)" style="margin-left: 5px;" class="ui-button-secondary"
                    type="button" pButton icon="pi pi-trash"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <!-- / CONTATOS FORNECEDOR TABLE -->

          <p-overlayPanel #overlayPanel [showCloseIcon]="true" [dismissable]="false">
            <h4>Informações para contato</h4>
            <h5>Email: {{ contatoSelecionado.email }}</h5>
            <h5>Telefone: {{ contatoSelecionado.telFixo }}</h5>
            <h5>Celular: {{ contatoSelecionado.telCel }}</h5>
            <h5>Ramal: {{ contatoSelecionado.ramal }}</h5>
          </p-overlayPanel>

        </div>

      </div>
    </div>
  </app-form>
</form>
<!-- / FORM FORNECEDOR -->

<!-- FORM DIALOG CONTATO -->
<app-form-dialog [visible]="contatoDialogVisible" [title]='dialogTitle'
  (onClose)="formContato.reset();contatoDialogVisible=false" [form]="formContato"
  (onSaveClicked)="salvarContato($event)">

  <!-- FORM -->
  <form name="formContato" [formGroup]="formContato">
    <div class="ui-fluid ui-g">
      <!-- LINE 1 -->
      <div class="ui-g-12 ui-md-12">
        <div class="u-inputgroup ">
          <label for="nome">Nome</label>
          <div class="u-inputgroup input-group  ">
            <input id="nome" type="text" placeholder="Nome" pInputText formControlName="nome">
            <app-error-msg [control]="formContato.get('nome')" label="Nome"></app-error-msg>
          </div>
        </div>
      </div>
      <!-- / LINE 1 -->

      <!-- LINE 2 -->
      <div class="ui-g-12 ui-md-12">
        <div class="u-inputgroup ">
          <label for="cargo">Cargo</label>
          <div class="u-inputgroup input-group  ">
            <input id="cargo" type="text" placeholder="Cargo" pInputText formControlName="cargo">
          </div>
        </div>
      </div>
      <!-- / LINE 2 -->

      <!-- LINE 3 -->
      <div class="ui-g-12 ui-md-12">
        <div class="u-inputgroup ">
          <label for="telefone">Telefone</label>
          <div class="u-inputgroup input-group  ">
            <input id="telefone" type="text" placeholder="Telefone" pInputText formControlName="telFixo">
          </div>
        </div>
      </div>
      <!-- / LINE 3 -->

      <!-- LINE 4 -->
      <div class="ui-g-12 ui-md-12">
        <div class="u-inputgroup ">
          <label for="celular">Celular</label>
          <div class="u-inputgroup input-group  ">
            <input id="celular" type="text" placeholder="Celular" pInputText formControlName="telCel">
          </div>
        </div>
      </div>
      <!-- / LINE 4 -->

      <!-- LINE 5 -->
      <div class="ui-g-12 ui-md-12">
        <div class="u-inputgroup ">
          <label for="email">Email</label>
          <div class="u-inputgroup input-group  ">
            <input id="email" type="text" placeholder="Email" pInputText formControlName="email">
          </div>
        </div>
      </div>
      <!-- / LINE 5 -->

      <!-- LINE 6 -->
      <div class="ui-g-12 ui-md-12">
        <div class="u-inputgroup ">
          <label for="ramal">Ramal</label>
          <div class="u-inputgroup input-group  ">
            <input id="ramal" type="text" placeholder="Ramal" pInputText formControlName="ramal">
          </div>
        </div>
      </div>
      <!-- / LINE 6 -->
    </div>

  </form>
  <!-- / FORM -->

</app-form-dialog>
<!-- / FORM DIALOG CONTATO -->