<form name="form" [formGroup]="form" (ngSubmit)="salvar();voltar($event)" class="layout-form-page">
  <app-form (voltar)="voltar($event)" [title]="form.value.descricao" [form]="form">

    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-7">
        <div class="u-inputgroup ">
          <label for="descricao">Descrição:</label>
          <div class="u-inputgroup input-group app-input">
            <input id="descricao" type="text" placeholder="Descrição" pInputText formControlName="descricao">
            <app-error-msg [control]="form.get('descricao')" label="descricao"></app-error-msg>
          </div>
        </div>
      </div>
    </div>

    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-7">
        <div class="u-inputgroup input-group">
          <label for="objetivo">Objetivo:</label>
          <p-editor formControlName="objetivo" [style]="{'height':'100px'}"></p-editor>
        </div>
      </div>
    </div>


    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-7">
        <div class="u-inputgroup input-group">
          <label for="condicoes">Pré-Condições:</label>
          <p-editor formControlName="condicoes" [style]="{'height':'100px'}"></p-editor>
        </div>
      </div>
    </div>

    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-4">
        <div class="u-inputgroup input-group app-input">
          <label for="tempo_execucao">Tempo execução (min):</label>
          <input id="tempo_execucao" type="number" placeholder="Tempo de Execução (minutos)" pInputText
            formControlName="tempoExecucao">
          <app-error-msg [control]="form.get('tempoExecucao')" label="Tempo de execução"></app-error-msg>
        </div>
      </div>
    </div>

    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-12">
        <div class="u-inputgroup">
          <label for="situacao">Situação:</label>
          <div class="u-inputgroup input-group">
            <p-inputSwitch name="situacao" binary="true" [formControl]="form.controls['situacao']">
            </p-inputSwitch>
            <app-error-msg [control]="form.get('situacao')" label="Situação"></app-error-msg>
          </div>
        </div>
      </div>
    </div>

  </app-form>
</form>