<form name="form" [formGroup]="form" (ngSubmit)="salvar();voltar($event)" class="layout-form-page">
  <app-form (voltar)="voltar($event)" [title]="form.value.descricao" [form]="form">

    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-7">
        <div class="u-inputgroup ">
          <label for="descricao">Descrição:</label>
          <div class="u-inputgroup input-group  ">
            <input id="descricao" type="text" placeholder="Descrição do produto" formControlName="descricao" pInputText>
            <app-error-msg [control]="form.get('descricao')" label="Descrição"></app-error-msg>
          </div>
        </div>
      </div>
    </div>

  </app-form>
</form>